* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "outfit", sans-serif;
  color: black;
  box-sizing: border-box;
}
html ,body {
  overflow-x: hidden;
max-width: 100%;
}
.icons img{
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  width: 180px;
  height: 180px;
  transition: all 0.3s ease;
}
.icons:hover img{
  opacity: 1;
  transform: scale(1.02);
}
header {
  background-image: url("https://cdn.ca.emap.com/wp-content/uploads/sites/12/2021/07/6-Final-1600x1041.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  position: relative;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}
ul {
  display: flex;
  gap: 190px;
  text-align: center;
}
ul li {
  list-style: none;
  text-align: center;
  justify-content: center;
  font-size: larger;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  
}
#ul a{
  text-decoration: none;
}
.hero {
  padding: 80px;
  text-align: left;
}
.hero h1 {
  text-align: left;
  padding: 60px;
  font-size: 50px;
  margin: 0;
  padding-bottom: 10px;
}
.hr {
  text-align: left;
  margin: 20px;
  width: 30%;

  height: 1px;
  background-color: #000;
}
.hero h3 {
  text-align: left;
  padding-left: 60px;
  margin: 0;
}
.date {
  color:  rgb(163, 140, 7);
}
.hero h4 {
  text-align: left;

  padding-left: 60px;
  margin-bottom: 20px;
}
.btn1,
.btn2 {
  border-radius: 30px;
  padding: 8px 20px;
  border: 1px solid #000;
  background-color:  rgb(172, 153, 51);
  font-weight: bolder;
  font-size: 15px;
}
button {
  transition: all 0.3s ease ;
  cursor: pointer;
}
button:hover {
  transform: scale(1.03);
}
.btns {
  display: flex;
  text-align: left;
  padding-left: 60px;
  gap: 20px;
}
.second {
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 70px;
}
.icons {
  flex-direction: column;
  display: flex;
  background-color: rgb(170, 149, 28);
  padding: 30px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
  position: relative;
  align-items: center;
}
.cards {
  display: flex;
  padding: 30px;
  text-align: center;
  justify-content: center;

}
.icons i {
  font-size: 90px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.herotwo {
  padding: 30px;
}
.herotwo h2 {
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 40px;
  margin-top: 30px;
}
.hr2 {
  margin-bottom: 0px;
}
.icons:hover {
  transform: scale(1.05);
}

.cardsContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 80px;
  padding: 60px;
  flex-wrap: wrap;
}
.card1 {
  background-color: rgb(172, 153, 51);
  border: solid 1px black;
  border-radius: 30px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex-direction: column;
  width: 300px;
  height: 325px;
  display: flex;
  transition: all 0.3s ease;
}
.card1:hover {
  transform: scale(1.05);
}
.card1 p {
  flex-grow: 1;
  text-align: justify;
  line-height: 1.5;
  padding: 5px;
}
.card1 img {
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #000;
  height: 170px;
}
.three h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}
.hr3 {
  width: 10%;
  margin-top: 20px !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.btnn {
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  background-color: black;
  color: rgb(172, 153, 51);
}
.boxContainer {
  padding: 10px;
  border-radius: 30px;
  flex-direction: column;
  display: flex;
  max-width: 450px;
}

.four {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}
.boxItm {
  border-bottom: 1px solid black;
}
.btnQ {
  cursor: pointer;
  margin: 10px 0px;
}
#menu{
    display: none;
}
.btnA {
  display: none;
  background-color: antiquewhite;
  padding: 10px 15px;
}
.btnA.show{
  display: block;
}
video {
  width: 580px;
  border-radius: 30px;
  border: 2px solid rgb(170, 149, 28);
  transition: all 0.3s ease;
}
video:hover{
  transform: scale(1.01);
}
.btnnn {
  display: flex;
  flex-direction: column;
}
footer{
  background-color: rgb(170, 149, 28) ;
  color: black;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
@media (max-width: 760px) {
  #ul {
text-align: center;
justify-content: center;
flex-direction: column;
display: flex;
gap: 0px;
display: none;
position: absolute;
text-align: left;
top: 40px;
left: 10px; 
font-size: 15px;
padding: 20px;
border-radius: 10px;
opacity: 1px;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);

  }
  li{
    border-bottom: solid 1px black;
    padding: 10px;
  }
  #menu{
display: block;
cursor: pointer;
text-align: left;
top: 10px;
left: 20px;
position: absolute;
  }
  #ul.show{
    display: flex;
  }
.hero{
  text-align: center;
  justify-content: center;
  margin: auto;
}
   .hero h1{
    color: #fff;
    -webkit-text-stroke: 2px  black;
    display: inline-block;
    width: auto;
    font-size: 70px;
    text-align: center !important;
    justify-content: center !important;
    margin-top:90px ;
padding: 0;
  }
  .hero h3 , .hero h4{
    color: #fff;
    -webkit-text-stroke: #000 0.5px;
    white-space: nowrap;
    padding: 0;

    text-align: center !important;
    justify-content: center;
    align-items: center;
   
  }
  .hero h4{
    padding: 0;
    font-size: 17px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);

  }
.btn1 , .btn2{
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  margin: auto;
}
  .hr{
display: none;
  }
  .right{
    flex-wrap: wrap;
    padding: 0px;
  }
  .herotwo h2{
    margin: 10px;
    flex-wrap: wrap;
    white-space: normal;
    text-wrap: wrap;
    font-size: 25px;
  }
.icons{
  height: 190px;
  width: 190px;
}
  .four{
  display: flex;
  flex-direction: column !important;
  text-align: center !important;
  justify-content: center !important;
padding: 0;
margin: 0 auto;
align-items: center !important;
}

  video{
    width: 80%;
    margin-top: 70px;
    text-align: center;
    justify-content: center;

  }
  .btnA ,.btnQ{
    width: 100%;
  }
  .navBar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  position: absolute;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}
.btns{
  text-align: center;
  justify-content: center;
padding: 0;
}
header{
  justify-content: center;
  text-align: center;
}
.boxContainer{
justify-content: center;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
align-items: center;
text-align: center;
padding: 0;
width: 100%;
min-width: 100%;
flex-direction: column;
margin: 0 auto;
}
.boxItm{
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 90%;
}
.card1{
  height: 350px;
}


}
@media (max-width: 1024px){
.hero h1{
    color: #fff;
    -webkit-text-stroke: 2px  black;
    width: auto;
    font-size: 70px;
    text-align: center !important;
    justify-content: center !important;
    margin-top:90px ;
padding: 0;

}
.boxContainer{
justify-content: center;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
align-items: center;
text-align: center;
padding: 0;
width: 100%;
min-width: 100%;
flex-direction: column;
margin: 0 auto;
margin-bottom: 30px;
}

.hr{
display: none;
}
  .hero h3 , .hero h4{
    color: #fff;
    -webkit-text-stroke: #000 0.5px;
    white-space: nowrap;
    padding: 0;

    text-align: center !important;
    justify-content: center;
    align-items: center;
   
  }
  .hero h4{
    padding: 0;
    font-size: 17px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);

  }
.btn1 , .btn2{
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.btns{
  text-align: center;
  justify-content: center;
padding: 0;
}
.icons{
padding: 20px;
}
.icons img{
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  width: 150px;
  height: 150px;
  transition: all 0.3s ease;
}
.icons:hover img{
  opacity: 1;
  transform: scale(1.02);
}
.four{
  display: flex;
  flex-direction: column !important;
  text-align: center !important;
  justify-content: center !important;
padding: 0;
margin: 0 auto;
}
}
